.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  vertical-align: middle;
  overflow: hidden;
  border-style: solid;
  background-color: rgb(
    68,
    122,
    28
  ); /* https://www.parliament.uk/globalassets/documents/commons-commission/Commons-Management-Board/MB2008/11-DEC08/MB2008.P.101A---Visual-Identity-guidelines-2009.pdf*/
}

/* .svg-container #mapbox circle {
  fill: blue;
} */

.invisible {
  display: none;
}

.visible {
  display: block;
  fill: red;
}

.red {
  display: block;
  fill: red;
}

.orange {
  display: block;
  fill: orange;
}

.blue {
  display: block;
  fill: blue;
}
